:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: black;
  background-color: #ffffff;
}

body {
  margin: 15px;
  display: flex;
  min-width: 320px;
  min-height: 320px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h1 {
  padding-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

ul,
ol {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}